<?xml version="1.0"?>
<config>
	<modules>
		<FourMarketing_FourDem>
			<version>0.2.0</version>
		</FourMarketing_FourDem>
	</modules>
	<frontend>
		<routers>
			<fourdem>
				<use>standard</use>
				<args>
					<module>FourMarketing_FourDem</module>
					<frontName>fourdem</frontName>
				</args>
			</fourdem>
		</routers>
		<layout>
			<updates>
				<fourdem>
					<file>fourdem.xml</file>
				</fourdem>
			</updates>
		</layout>
	</frontend>
	
	<admin>
		<routers>
			<fourdem>
				<use>admin</use>
				<args>
					<module>FourMarketing_FourDem</module>
					<frontName>fourdem</frontName>
				</args>
			</fourdem>
			<adminhtml>
                <args>
                    <modules>
                        <FourDem Before="Mage_Adminhtml">FourMarketing_FourDem</FourDem>
                    </modules>
                </args>
            </adminhtml>
		</routers>
	</admin>
	<adminhtml>
		<menu>
			<fourdem module="fourdem">
				<title>4Dem.it</title>
				<sort_order>71</sort_order>
				<children>
					<items module="fourdem">
						<title>Sincronizza Utenti</title>
						<sort_order>0</sort_order>
						<action>fourdem/adminhtml_fourdem</action>
					</items>
				</children>
			</fourdem>
		</menu>
		<acl>
			<!--
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<fourdem>
							<title>FourDem FourDem</title>
							<sort_order>200</sort_order>
						</fourdem>
					</children>

				</admin>
			</resources>
			--><resources>
		            <admin>
		                <children>
		                    <system>
		                        <children>
		                            <config>
		                                <children>
		                                    <fourdem translate="title" module="fourdem">
		                                        <title>4Dem.it - Email Marketing</title>
		                                    </fourdem>
		                                </children>
		                            </config>
		                        </children>
		                    </system>
		                </children>
		            </admin>
		        </resources>			
		</acl>
		    	
		<layout>
			<updates>
				<fourdem>
					<file>fourdem.xml</file>
				</fourdem>
			</updates>
		</layout>
	</adminhtml>
	
	
	<global>		
		<models>
			<fourdem>
				<class>FourMarketing_FourDem_Model</class>
				<resourceModel>fourdem_mysql4</resourceModel>
			</fourdem>
			
			<fourdem_mysql4>
				<class>FourMarketing_FourDem_Model_Mysql4</class>
				<entities>
					<fourdem>
						<table>fourdem_users</table>
					</fourdem>
				</entities>
			</fourdem_mysql4>
		</models>
		
		<resources>
			<fourdem_setup>
				<setup>
					<module>FourMarketing_FourDem</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</fourdem_setup>
			<fourdem_write>
				<connection>
					<use>core_write</use>
				</connection>
			</fourdem_write>
			<fourdem_read>
				<connection>
					<use>core_read</use>
				</connection>
			</fourdem_read>
		</resources>
		
		<blocks>
			<fourdem>
				<class>FourMarketing_FourDem_Block</class>
			</fourdem>
		</blocks>
		<helpers>
			<fourdem>
				<class>FourMarketing_FourDem_Helper</class>
			</fourdem>
		</helpers>		
		<events>		    
		    <adminhtml_init_system_config>
                <observers>
                    <fourmarketing_fourdem>
                        <class>FourMarketing_FourDem_Model_Observer</class>
                        <method>changeSystemConfig</method>
                    </fourmarketing_fourdem>
                </observers>
            </adminhtml_init_system_config>
            
			<admin_system_config_changed_section_fourdem>
				<observers>
					<fourdem>
						<type>singleton</type>
						<class>FourMarketing_FourDem_Model_Observer</class>
						<method>check4DemConfiguration</method>
					</fourdem>
				</observers>
			</admin_system_config_changed_section_fourdem>
			<customer_register_success>
				<observers>
					<fourdem>
						<type>singleton</type>
						<class>FourMarketing_FourDem_Model_Observer</class>
						<method>subscribeCustomer</method>
					</fourdem>
				</observers>
			</customer_register_success>
			<customer_save_after>
				<observers>
					<fourdem>
						<type>singleton</type>
						<class>FourMarketing_FourDem_Model_Observer</class>
						<method>changeSubscribeEmail</method>
					</fourdem>
				</observers>
			</customer_save_after>
			<customer_address_save_after>
				<observers>
					<fourdem>
						<type>singleton</type>
						<class>FourMarketing_FourDem_Model_Observer</class>
						<method>collectionDataMapping</method>
					</fourdem>
				</observers>
			</customer_address_save_after>
			<checkout_submit_all_after>
				<observers>
					<fourdem>
						<type>singleton</type>
						<class>FourMarketing_FourDem_Model_Observer</class>
						<method>subscribeCustomerAfterCheckout</method>
					</fourdem>
				</observers>
			</checkout_submit_all_after>
		</events>
	</global>	
</config>