<?xml version="1.0"?>
<config>
    <modules>
        <FourMarketing_FourDem>
            <version>0.1.0</version>
        </FourMarketing_FourDem>
    </modules>
    <global>
        <blocks>
            <fourmarketing_fourdem>
                <class>FourMarketing_FourDem_Block</class>
            </fourmarketing_fourdem>
        </blocks>
        <helpers>
            <fourdem>
                <class>FourMarketing_FourDem_Helper</class>
            </fourdem>
        </helpers>

        <models>
            <fourmarketing_fourdem>
                <class>FourMarketing_FourDem_Model</class>
                <resourceModel>fourmarketing_fourdem_mysql4</resourceModel>
            </fourmarketing_fourdem>

            <fourmarketing_fourdem_mysql4>
                <class>FourMarketing_FourDem_Model_Mysql4</class>
                <entities>
                    <users>
                        <table>fourmarketing_fourdem_users</table>
                    </users>
                </entities>
            </fourmarketing_fourdem_mysql4>
        </models>

        <resources>
            <fourmarketing_fourdem_setup>
                <setup>
                    <module>FourMarketing_FourDem</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </fourmarketing_fourdem_setup>
            <fourmarketing_fourdem_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </fourmarketing_fourdem_write>
            <fourmarketing_fourdem_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </fourmarketing_fourdem_read>
        </resources>
        <events>
            <admin_system_config_changed_section_fourdem>
                <observers>
                    <fourdem>
                        <type>singleton</type>
                        <class>FourMarketing_FourDem_Model_Observer</class>
                        <method>check4DemConfiguration</method>
                    </fourdem>
                </observers>
            </admin_system_config_changed_section_fourdem>
            <customer_register_success>
                <observers>
                    <fourdem>
                        <type>singleton</type>
                        <class>FourMarketing_FourDem_Model_Observer</class>
                        <method>subscribeCustomer</method>
                    </fourdem>
                </observers>
            </customer_register_success>
            <customer_save_after>
                <observers>
                    <fourdem>
                        <type>singleton</type>
                        <class>FourMarketing_FourDem_Model_Observer</class>
                        <method>changeSubscribeEmail</method>
                    </fourdem>
                </observers>
            </customer_save_after>
            <customer_address_save_after>
              <observers>
                <fourdem>
                    <type>singleton</type>
                    <class>FourMarketing_FourDem_Model_Observer</class>
                    <method>collectionDataMapping</method>
                </fourdem>
              </observers>
            </customer_address_save_after>
            <checkout_submit_all_after>
                <observers>
                    <fourdem>
                        <type>singleton</type>
                        <class>FourMarketing_FourDem_Model_Observer</class>
                        <method>subscribeCustomerAfterCheckout</method>
                    </fourdem>
                </observers>
            </checkout_submit_all_after>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <FourMarketing_FourDem before="Mage_Adminhtml">FourMarketing_FourDem</FourMarketing_FourDem>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <fourmarketing_fourdem>
                    <file>fourmarketing/fourdem.xml</file>
                </fourmarketing_fourdem>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <routers>
            <fourdem>
                <use>standard</use>
                <args>
                    <module>FourMarketing_FourDem</module>
                    <frontName>fourdem</frontName>
                </args>
            </fourdem>
        </routers>
        <layout>
            <updates>
                <fourdem>
                  <file>fourdem.xml</file>
                </fourdem>
            </updates>
        </layout>
    </frontend>
</config>